.profile-image {
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
}

.section {
  text-transform: uppercase;
  background-color: #B4FEDB;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 2px;
  border: 3px solid black;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

header {
  margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
}
main {
margin-top: 30px;
margin-right: 40px;
margin-bottom: 30px;
margin-left: 40px;
}

footer {
  background-color: bisque;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
 

